// color pallete
$bg: #60be73;
$text_color_black: #2e3547;
$text_color_white: #f8fbfc;
$cta_light: #60be73;
$cta_medium: #60be73;
$cta_heavy: #f15e5e;

@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../assets/font/Montserrat-Bold.ttf);
}
* {
  font-family: Montserrat-Regular;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat-Bold !important;
}
// start global component css
td{
  text-align:center;
}
.icon{
  color: $bg;
  font-size:20px;
 
}
svg {
  height: auto;
  z-index: -9999;
  width: 100%;
  position: absolute;
}
.subtitle {
  line-height: 2;
  padding: 20px 0;
}
.clients{
  margin-top: 20px;
}
.cta {
  padding: 12px 35px;
  font-size: 20px;
  border-radius: 25px;
  border: transparent;

  &:hover {
    color: #333333;
    text-decoration: none;
  }
}
.cta-light {
  background: #ff9191;
  color: $text_color_white;
}
.no-padding {
  padding: 0 !important;
}
.hidden-overlay {
  position: absolute;
  opacity: 0.08;
  top: 200px;
  left: 35%;
}
.quote {
  position: absolute;
  opacity: 0.08;
}
.slick-slide:focus{
  outline: none;
}
.btn.cta{
  outline: none;
  box-shadow: none;
}
.section {
  padding: 70px 0;
}
.section.section-header-alt {
  width: 100%;
  object-fit: cover;
  padding: 60px 0;
  img {
    width: 100%;
  }
  .header-overlay {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 50%;
    display: block;
    margin: auto;

    h2 {
      font-size: 40px;
    }
  }
}
.section__header,
.section-what-myteam,
.section-feature,
.section-pricing,
.section-testificate,
.section-testimonials,
.section-feature-list,
.section-about-us,
.section-pricing-description,
.section-contact {
  position: relative;
  padding: 60px 65px;
}
ul {
  list-style: none;
  padding: 0;
}

hr {
  width: 40%;
  border: 1px solid black;
}
p {
  line-height: 2;
}
.pricing-card.slick-slide{
  position: relative;
  a:focus{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}
.pricing-card.slick-center::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid red;
  top: 0;
  left: 0;
  z-index:-99;
}

.section .slick-prev {
  left: -40px;
}

//end global component css
.heading.title-card.white-text {
  font-family: Montserrat-Bold;
  color: $text_color_white;
  font-size: 30px;
}

.navbar.navbar-expand-lg {
  width: 100%;
  padding: 35px 60px;
}
.myteam-navbar {
  background: $bg;
}
.nav-item.header-item {
  a {
    color: $text_color_white;
    font-size: 20px;
    font-family: Montserrat-Bold;
  }
  a:hover {
    color: #333333;
  }
  padding: 0 20px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e3547;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.header-button {
  margin: 0 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar_alt {
  background-image: url(../assets/image/header_alt.png);
  background-size: cover;
  height: 400px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
// STart Header
.section.section__header {
  background-image: url(../assets/image/Group10.png);
  background-repeat: no-repeat;
  padding-bottom: 250px;
  margin-top: -1px;
  padding-top: 25px;
}
.blockquote-footer {
  color: white;
}
.header-title {
  font-size: 40px;
  line-height: 2;
  color: $text_color_white;
  font-family: Montserrat-Bold;
  margin-bottom: 20px;
}
.header-subtitle {
  color: $text_color_white;
  font-size: 20px;
  font-family: Montserrat-Bold;
  line-height: 2;
}

.cta.cta-heavy{
  background: #f15e5e;
  color: #f8fbfc;
  padding: 10px 18px;
  &:hover{
    color: $text_color_black;
  }
}
.mobile {
  display: none;
}

//Start What's my team?
.section.section-what-myteam {
  padding-top: 60px;
}
.display-list {
  padding: 8px 0;
  padding-left: 1.3em;

  &:before {
    content: "\f00c"; /* FontAwesome Unicode */
    color: $bg;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
}
.myteam-card__icon {
  font-size: 40px;
  color: $bg;
  line-height: 60px;
}
.gallery {
  div {
    img{
      padding: 10px;
    }
  }
}
//End what's my team

//Start feature css
.feature-content__description {
  line-height: 40px;
}
.myeam-card__cta.text-center {
  a {
    color: $cta_heavy;
  }
  text-align: justify;
}
.myteam-card{
    a{
        color: $text_color_black;
        text-decoration: none;
    }
    padding: 20px 30px;
}
.myteam-card:hover {
  box-sizing: border-box;
  transform: translate(0px, 0px) scale(1.1, 1.1);
  transition: 1s ease;
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045),
    0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  z-index: 9998;
  border: .5px solid $cta_heavy
}
.section-feature{
  .myteam__video{
    margin-top: 20px;
    video{
      padding: 0 !important;
      &:focus{
        outline: none;
      }
    }
  }
}

//End feature css

//Start pricing css
.pricing-card {
  margin: 60px 25px;
  padding: 40px;
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045),
    0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
  position: relative;
  background: $text_color_white;
  
  &:hover {
    cursor: pointer;
  }
  .pricing-card__icon {
    font-size: 40px;
    color: $bg;
    line-height: 60px;
  }
  a{
      text-decoration: none;
      color: $text_color_black;
  }
  .pricing-card__button{
    a{
      color: $text_color_white ;
    }
  }
}

.slick-prev.slick-arrow:before,
.slick-next.slick-arrow:before {
  color: $bg;
  font-size: 35px;
}
.pricing-card.slick-center {
  transform: translate(0px, 0px) scale(1.1, 1.1);
  transition: 1s ease;
}
//End pricing css

// Start client css
.clients {
  div {
    img {
      max-height: 100px;
    }
  }
}
//End client css

//Start testimonials
.quote.quote-top {
  left: 0;
  width: 10%;
  transform: rotate(180deg);
}
.quote.quote-bottom {
  right: 0;
  width: 10%;
  transform: rotate(360deg);
  bottom: 0;
}
.testimonials {
  .testimonials-clone {
    padding: 10px;
    p {
      font-style: italic;
    }
  }
}
// End testimonials

// Start Requesting Demo
.section.section-request-demo {
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  .subtitle{
    margin: 0;
  }
  .cta.cta-heavy {
    margin-left: 15px;
  }
}
// End requesting demo

// Start Footer css
.footer {
  background-image: url(../assets/image/background-footer.jpg);
  background-size: cover;
}
ul.menu-bottom,
ul.sub-menu-bottom {
  list-style-type: none;
  padding-left: 0;
}
.footer .menu-footer {
  padding-top: 200px;
  padding-bottom: 68px;
}
ul.menu-bottom > li.item > a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
ul.menu-bottom > li.item {
  margin-bottom: 20px;
}
ul.sub-menu-bottom {
  margin-top: 15px;
}
ul.sub-menu-bottom li {
  margin-bottom: 10px;
}
ul.sub-menu-bottom li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
ul.sub-menu-bottom form {
  max-width: 300px;
  position: relative;
}
ul.sub-menu-bottom form input {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  border: 0;
  padding-left: 15px;
}
ul.sub-menu-bottom form input:focus {
  outline: 0;
}
ul.sub-menu-bottom form button {
  position: absolute;
  right: 2px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 0;
  height: 36px;
  top: 2px;
  background: #60be73;
  color: #fff;
  cursor: pointer;
}
ul.sub-menu-bottom form button:focus {
  outline: 0;
}
ul.menu-link li {
  display: inline-block;
}
ul.menu-link li a {
  font-size: 18px;
  padding-right: 10px;
}
.copyright-footer p {
  color: #fff;
  font-size: 16px;
  float: right;
}
.menu-right .menu-bottom {
  float: right;
}

//Contact-css
.section-contact, {
  .contact-title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .form-contact-left{
    img{
      max-width: 500px;
    }
    .contact-icons{
      i{
        margin-right: 12px;
        color: $cta_light;
      }
    }
  }
    input,textarea{
      border-radius: 25px;
      border: none;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045), 0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
    }
    input:focus{
      background-color: #fff;
      border-color: $cta_light;
      outline: 0;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045), 0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
    }
    input{
      height: 40px;
    }
    textarea{
      width: 100%;
      min-height: 200px;
      outline: none;
      text-indent: 5px;
      padding: 10px;
    }
    textarea:focus{
      background-color: #fff;
      border-color: $cta_light;
      outline: 0;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045), 0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
    }
    .form-group{
      margin-bottom: 15px;
    }
}
@media screen and (max-width: 1325px) {
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .nav-item.header-item {
    padding: 0 10px;
  }
  .nav-item.header-item a {
    font-size: 16px;
  }
  .header-button.cta.cta-light,
  .header-button.cta.cta-heavy,
  .cta {
    padding: 10px 18px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .menu-right .menu-bottom {
    float: unset;
  }
  .copyright-footer p {
    float: left;
  }
}
@media only screen and (max-width: 1065px) {
  .hidden-overlay {
    left: 0;
    position: absolute;
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .sidenav{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .cta.cta-heavy.float-right.header-button {
    float: left !important;
    margin: 0;
    margin-top: 10px;
  }
  .sidenav {
    .form-inline{
      .cta{
        margin-bottom: 15px !important;
        margin: 0 15px;
        display: block;
      }
    }
  }
  .section.section__header {
    padding-bottom: 39px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section__header,
  .section-pricing,
  .section-testificate,
  .section-testimonials,
  .section-feature-list {
    padding: 39px 60px;
  }
  .section-feature{
    padding: 39px 25px;
  }
  .myteam-card:hover{
    transform: translate(0px, 0px) scale(0.99, 0.99);
  }
  .section-what-myteam{
    padding: 39px 15px;
    .gallery{
      position: relative;
      padding: 0;
      .slick-prev{
        left: 0;
      }
      .slick-next{
        right: 15px;
      }
    }
  }
  .navbar-toggler {
    padding: 0;
    font-size: 26px;
  }
  .navbar_alt{
    height:150px;
  }
  .section.section-header-alt .header-overlay{
      top:20%;
  }
  .header-title, .header-subtitle {
    line-height: 1.5;
  }
  .navbar.navbar-expand-lg {
    padding: 15px;
    padding-bottom: 0;
  }
  .subtitle {
    margin: 0;
  }
  .pricing-card {
    padding: 20px 15px;
    padding-bottom: 39px;
  }
  .display-list {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    line-height: 1.8;
  }
  .section.section__header {
    background-image: url(../assets/image/Group10.png);
  }
  .clients {
    div {
      img {
        max-height: 79px;
      }
    }
  }
  .section-contact{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .navbar-expand-lg{
    .navbar-nav{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0 !important;
    }
    .navbar-collapse{
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-toggler{
      display: none;
    }
  }
  .nav-item.header-item{
    a{
      font-size: 15px;
    }
  }
  .header-button.cta.cta-light, .header-button.cta.cta-heavy, .cta{
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .slick-arrow {
    display: none !important;
  }
  .section__header, .section-feature, .section-pricing, .section-testificate, .section-testimonials, .section-feature-list, .section-pricing-description,.section-about-us,.section-pricing-description{
    padding: 20px 15px;
  }
  .section.section__header{
    padding-top: 0;
  }
  .footer .menu-footer{
    max-width: 100%;
  }
  ul.menu-bottom > li.item > a{
    font-size: 18px;
  }
  ul.sub-menu-bottom li a{
    font-size: 14px;
  }
  .section-request-demo{
    .subtitle{
      justify-content: center;
      width: 100%;
      a{
        width: 100%;
        margin-top: 10px;;
      }
    }
  }

  .pricing-card{
    margin: 55px 25px;
  }
  .pricing-card.slick-center{
    transform: translate(0px, 0px) scale(1.05, 1.05);
  }
  .myteam-card{
    padding: 20px 15px;
    margin: 0 15px;
  }
  .sidenav{
    a{
      padding-left: 15px;
    }
    .nav-item.header-item{
      padding: 0 15px;
    }
  }
}
@media screen and (max-width: 575px) {
  .header-title {
    font-size: 30px;
    line-height: 1.5;
  }
  .header-subtitle {
    font-size: 18px;
  }
  ul.menu-bottom > li.item > a{
    font-size: 22px;
  }
  ul.sub-menu-bottom li a{
    font-size: 16px;
  }
  .pricing-card-clone{
    .display-list {
      font-size: 12px;
    }
  }
  .pricing-card{
    margin: 45px 12px;
  }
  .navbar_alt{
    height:150px;
  }
  .section.section-header-alt .header-overlay {
    h2{
      margin-top: 10px;
      font-size: 30px;
    }
    
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


// Style Subcribe
.section-subcrie{
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  .button-n-p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    button{
      padding: 5px 30px;
      margin: 0 40px;
    }
  }
  .title-subcrice{
    font-size: 40px;
    text-align: center;
  }
  .dot-step{
    text-align: center;
    color: #fff;
    .step{
      background: $cta_light;
      height: 30px;
      width: 30px;
      line-height: 32px;
      margin: 0 15px;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    .step.active {
      opacity: 1;
    }
  }
  .form-control{
    border-radius: 25px;
    border: none;
    box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045), 0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
    margin-bottom: 15px;
    height: 40px;
    line-height: 40px;
    &:focus{
      background-color: #fff;
      border-color: $cta_light;
      outline: 0;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045), 0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
    }
  }
  .reister-title{
    .title{
      font-size: 20px;
      text-align: center;
      margin-top: 30px;
    }
    p{
      text-align: center;
    }
  }
  .reister-conpany{
    .box-list-industry{
      display: flex;
      flex-wrap: wrap;
      max-width: 777px;
      margin: 0 auto;
      li{
        width: 25%;
        a{
          display: block;
          height: 110px;
          text-align: center;
          font-size: 14px;
          transition: all 0s !important;
          padding-top: 15px;
          text-decoration: none;
          color: black;
          cursor: pointer;
          i{
            font-size: 30px;
            color: $cta_light;
          }
          &:hover{
            outline: 0;
            box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.031), 0 0px 10px rgba(0, 0, 0, 0.045), 0 0px 24.1px rgba(0, 0, 0, 0.059), 0 0px 80px rgba(0, 0, 0, 0.09);
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
              display: none;
            }
          }
        }
      }
    }
  }
  .check-point{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .input-check{
      text-align: left;
      margin: 15px 0;
      >div{
        margin-bottom: 5px;
      }
    }
    p{
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .section-subcrie{
    .reister-conpany{
      .box-list-industry{
        li{
          width: 50%;
        }
      }
    }
    .button-n-p{
      button{
        margin: 0 20px;
      }
    }
  }   
}