<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../assets/js/slick/slick.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/js/slick/slick-theme.css"
    />
    
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script type="text/javascript" src="../assets/js/slick/slick.min.js"></script>
    <script type="text/javascript" src="../index.js"></script>
  </head>
  <body>
      <!-- Start Navbar -->
      <section class="section__navbar" id="navbar">
        <div class="navbar_alt">           
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="navbar-brand" href="../index.html">
              <h2 class="heading title-card white-text">MyTeam</h2>
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item header-item">
                <a class="nav-link" href="feature.html">Feature</a>
              </li>
              <li class="nav-item header-item">
                <a class="nav-link" href="pricing.html">Pricing</a>
              </li>
              <li class="nav-item header-item">
                <a class="nav-link" href="aboutUs.html">About Us</a>
              </li>
              <li class="nav-item header-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <button class="btn my-2 my-sm-0 header-button cta cta-light">
                Login
              </button>
              <button class="btn my-2 my-sm-0 header-button cta cta-heavy">
                <a href='pages/subscribe.html'>Subscribe now</a>
              </button>
            </div>
          </div>
          <nav class="navbar navbar-expand-lg">
            <button
              class="navbar-toggler"
              type="button"
              
              data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon" style='color:white' onclick="openNav()"><i class="fa fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="../index.html">
                <h2 class="heading title-card white-text">MyTeam</h2>
              </a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item header-item">
                  <a class="nav-link" href="feature.html">Feature</a>
                </li>
                <li class="nav-item header-item">
                  <a class="nav-link" href="pricing.html">Pricing</a>
                </li>
                <li class="nav-item header-item">
                  <a class="nav-link" href="aboutUs.html">About Us</a>
                </li>
                <li class="nav-item header-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
              <div class="form-inline my-2 my-lg-0">
                <button class="btn my-2 my-sm-0 header-button cta cta-light">
                  Login
                </button>
                <button class="btn my-2 my-sm-0 header-button cta cta-heavy">
                  <a href='pages/subscribe.html'>Subscribe now</a>
                </button>
              </div>
            </div>
            
          </nav>
          <!-- Reserve for big screen -->
         
          <!-- Mobile design only -->
        </div>
        
      </section>
      <!-- End Navbar -->
      <!-- Start Header -->
      <section class='section section-header-alt'>
        <img src="../assets/image/Image16.jpg" alt="" class='img-fluid'>
        <div class="header-overlay">
          <h2 class='text-center'>Tính năng</h2>
          <img src="../assets/image/Group 212.png" alt="">
          
        </div>
        
      </section>
      <!-- End Header -->
       <!-- Start Pricing -->
       <section class="section section-pricing">
        <h2 class="text-center">Pricing</h2>
        <p class='subtitle text-center'>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, possimus.
        </p>
        <div class="pricing row">
         
          <div class="pricing-card">
            <a href="#">
            <div class="pricing-card__icon text-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <h3 class="text-center">Basic</h3>
            <hr />
            <ul class="mt-4">
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
            </ul>
            <div class="pricing-card__button text-center">
              <a href="#" class="cta cta-heavy btn btn-block">Free</a>
            </div>
          </a>
          </div>
          <div class="pricing-card">
            <a href="#">
            <div class="pricing-card__icon text-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <h3 class="text-center">Basic</h3>
            <hr />
            <ul class="mt-4">
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
            </ul>
            <div class="pricing-card__button text-center">
              <a href="#" class="cta cta-heavy btn btn-block">Free</a>
            </div>
          </a>
          </div>
          <div class="pricing-card">
            <a href="#">
            <div class="pricing-card__icon text-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <h3 class="text-center">Basic</h3>
            <hr />
            <ul class="mt-4">
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
            </ul>
            <div class="pricing-card__button text-center">
              <a href="#" class="cta cta-heavy btn btn-block">Free</a>
            </div>
          </a>
          </div>
          <div class="pricing-card">
            <a href="#">
            <div class="pricing-card__icon text-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <h3 class="text-center">Basic</h3>
            <hr />
            <ul class="mt-4">
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
              <li class="display-list">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              </li>
            </ul>
            <div class="pricing-card__button text-center">
              <a href="#" class="cta cta-heavy btn btn-block">Free</a>
            </div>
          </a>
          </div>
          
        </div>
      </section>
      <section class='section section-pricing-description'>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Các tính năng</th>
              <th scope="col">Free</th>
              <th scope="col">Cơ bản</th>
              <th scope="col">Chuyên nghiệp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. </th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.11111111111111</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
            <tr>
              <th scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et necessitatibus debitis quidem quos eaque.</th>
              <td><i class="fa fa-times-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
              <td><i class="fa fa-check-circle icon"></i></td>
            </tr>
           
          </tbody>
        </table>
      </section>
      <!-- End Pricing -->
       <!-- Start Requesting demo -->
      <section class="section section-request-demo text-center">
        <p class='subtitle'>Like what you see? Try out a free Demo right here</p>
        <a href="#" class='cta cta-heavy'>Requesting Demo</a> 
      </section>
      <!-- End Requesting Demo -->
       <!-- Star Footer -->
    <section class="section-footer" id="footer">
      <div class="footer">
        <div class="container menu-footer">
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <ul class="menu-bottom">
                <li class="item">
                  <a href="#">Company</a>
                  <ul class="sub-menu-bottom">
                    <li>
                      <a href="#">About Us</a>
                    </li>
                    <li>
                      <a href="#">Why Pick MyTeam</a>
                    </li>
                    <li>
                      <a href="#">Terms of Sevice</a>
                    </li>
                    <li>
                      <a href="#">Contact Us</a>
                    </li>
                    <li>
                      <a href="#">Private Policy</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-xl-3">
              <ul class="menu-bottom">
                <li class="item">
                  <a href="#">Support</a>
                  <ul class="sub-menu-bottom">
                    <li>
                      <a href="#">FAQ</a>
                    </li>
                    <li>
                      <a href="#">Sevices</a>
                    </li>
                    <li>
                      <a href="#">API Documentation</a>
                    </li>
                    <li>
                      <a href="#">Resources</a>
                    </li>
                    <li>
                      <a href="#">Plugin Marketplace</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-xl-2 menu-right">
              <ul class="menu-bottom">
                <li class="item">
                  <a href="#">Social Media</a>
                  <ul class="sub-menu-bottom menu-link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-xl-4 menu-right">
              <ul class="menu-bottom">
                <li class="item">
                  <a href="#">Subcribe to our mailing list</a>
                  <ul class="sub-menu-bottom">
                    <li>
                      <form action="#">
                        <input type="text" name="form-subcribe">
                        <button>Submit</button>
                      </form>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="copyright-footer">
            <p><i class="fa fa-copyright"></i>2020 My Team. All right reserved</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Footer -->
  </body>